modules = ["nodejs-20", "web"]
run = "pnpm dev"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "pnpm build && pnpm preview"]

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5173
externalPort = 5173
exposeLocalhost = true

[[ports]]
localPort = 5174
externalPort = 6800
exposeLocalhost = true

[[ports]]
localPort = 8080
externalPort = 80
